{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Hello {{ session.username }} !</h1>
			<h2>This is your dashboard</h2>
		</div>
		<h2 class="text-center">Your favourite animes</h2>
		<table class="table table-dark bg-dark table-striped text-center" id="myTable">
			<thead>
				<tr>
					<th></th>
					<th>NAME</th>
					<th>RATING</th>
				</tr>
			</thead>
			<tbody>
			{% for an in list1 %}
				<tr>
					<td><a href="/animelist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/animelist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endfor %}
		
			</tbody>	
		</table>
		<h2 class="text-center">Your favourite mangas</h2>
		<table class="table table-dark bg-dark table-striped text-center" id="myTable">
			<thead>
				<tr>
					<th></th>
					<th>NAME</th>
					<th>RATING</th>
				</tr>
			</thead>
			<tbody>
			{% for an in list2 %}
				<tr>
					<td><a href="/mangalist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/mangalist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endfor %}
		
			</tbody>	
		</table>
		<h2 class="text-center">Recommended anime for you</h2>
		<table class="table table-dark bg-dark table-striped text-center" id="myTable">
			<thead>
				<tr>
					<th></th>
					<th>NAME</th>
					<th>RATING</th>
				</tr>
			</thead>
			<tbody>
			{% for an in rec1 %}
			{% if an not in list1 %}
				<tr>
					<td><a href="/animelist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/animelist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endfor %}
			{% for an in rec2 %}
			{% if an not in list1 %}
			{% if an not in rec1 %}
				<tr>
					<td><a href="/animelist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/animelist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in rec3 %}
			{% if an not in list1 %}
			{% if an not in rec1 %}
			{% if an not in rec2 %}
				<tr>
					<td><a href="/animelist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/animelist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in rec4 %}
			{% if an not in list1 %}
			{% if an not in rec1 %}
			{% if an not in rec2 %}
			{% if an not in rec3 %}
				<tr>
					<td><a href="/animelist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/animelist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in rec5 %}
			{% if an not in list1 %}
			{% if an not in rec1 %}
			{% if an not in rec2 %}
			{% if an not in rec3 %}
			{% if an not in rec4 %}
				<tr>
					<td><a href="/animelist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/animelist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in rec6 %}
			{% if an not in list1 %}
			{% if an not in rec1 %}
			{% if an not in rec2 %}
			{% if an not in rec3 %}
			{% if an not in rec4 %}
			{% if an not in rec5 %}
				<tr>
					<td><a href="/animelist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/animelist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in rec7 %}
			{% if an not in list1 %}
			{% if an not in rec1 %}
			{% if an not in rec2 %}
			{% if an not in rec3 %}
			{% if an not in rec4 %}
			{% if an not in rec5 %}
			{% if an not in rec6 %}
				<tr>
					<td><a href="/animelist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/animelist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			</tbody>	
		</table>
		<h2 class="text-center">Recommended mangas for you</h2>
		<table class="table table-dark bg-dark table-striped text-center" id="myTable">
			<thead>
				<tr>
					<th></th>
					<th>NAME</th>
					<th>RATING</th>
				</tr>
			</thead>
			<tbody>

			{% for an in mrec1 %}
			{% if an not in list2 %}
				<tr>
					<td><a href="/mangalist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/mangalist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endfor %}
			{% for an in mrec2 %}
			{% if an not in list2 %}
			{% if an not in mrec1 %}
				<tr>
					<td><a href="/mangalist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/mangalist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in mrec3 %}
			{% if an not in list2 %}
			{% if an not in mrec1 %}
			{% if an not in mrec2 %}
				<tr>
					<td><a href="/mangalist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/mangalist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in mrec4 %}
			{% if an not in list2 %}
			{% if an not in mrec1 %}
			{% if an not in mrec2 %}
			{% if an not in mrec3 %}
				<tr>
					<td><a href="/mangalist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/mangalist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in mrec5 %}
			{% if an not in list2 %}
			{% if an not in mrec1 %}
			{% if an not in mrec2 %}
			{% if an not in mrec3 %}
			{% if an not in mrec4 %}
				<tr>
					<td><a href="/mangalist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/mangalist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in mrec6 %}
			{% if an not in list2 %}
			{% if an not in mrec1 %}
			{% if an not in mrec2 %}
			{% if an not in mrec3 %}
			{% if an not in mrec4 %}
			{% if an not in mrec5 %}
				<tr>
					<td><a href="/mangalist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/mangalist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			{% for an in mrec7 %}
			{% if an not in list2 %}
			{% if an not in mrec1 %}
			{% if an not in mrec2 %}
			{% if an not in mrec3 %}
			{% if an not in mrec4 %}
			{% if an not in mrec5 %}
			{% if an not in mrec6 %}
				<tr>
					<td><a href="/mangalist/{{ an.id }}"><img src="{{ an.shortimage }}"></a></td>
					<td><a href="/mangalist/{{ an.id }}" style="font-weight: bold;color: #185875;"><u>{{ an.name }}</u></a></td>
					<td>{{an.rating}}</td>
				</tr>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
		
			</tbody>	
		</table>
		<footer class="footer">
        	<p>&copy; Nikhil Jakhar, Shikhar Shyasa 2018</p>
      	</footer>
	</div>
{% endblock %}